<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Koiil</title>

<link rel="icon" type="image/ico" href="img/favicon.ico" />
<link rel="stylesheet" href="css/index.css" />

<script
    src="http://kit.fontawesome.com/6478f529f2.js"
    crossorigin="anonymouse"></script>
<script src="../index.js" defer></script>
</head>

<body id="home">
<header>
    <a href="index.html" class="logo">Koiil</a>
    <nav>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="./project.html">Project</a></li>
    </ul>
    </nav>
    <ul class="link">
    <li class="link__icon">
        <a
        href="https://github.com/rachel5004"
        target="_blank"
        title="go github"
        ><i class="fab fa-github-square"></i
        ></a>
    </li>
    <li class="link__icon">
        <a href="https://velog.io/@_koiil" target="_blank"
        ><i class="fab fa-bootstrap"></i
        ></a>
    </li>
    </ul>
</header>
<aside>
    <ul class="quick-icons show-off">
    <li><a href="#home">🙋🏻‍♀️</a></li>
    <li><a href="#about__age">✌🏻</a></li>
    <li><a href="#about__traveling">✈️</a></li>
    <li><a href="#about__concert">🎫</a></li>
    <li><a href="#about__major">📔</a></li>
    <li><a href="#about__graduate">🎓</a></li>
    <li><a href="#about__wecode">👩🏻‍💻</a></li>
    </ul>
</aside>
<section class="home">
    <div class="home__text eng">
    <img class="click-me-eng" src="./imgs/clickme-eng.png" alt="click me" />
    <p>
        hello! my name is <a href="#me"><span>koiil</span></a>
    </p>
    <p>
        I am <a href="#about__age"><span>23 years old</span></a>
    </p>
    <p>
        I love <a href="#about__traveling"><span>traveling</span></a> and
        going to <a href="#about__concert"><span>concerts</span></a
        >!
    </p>
    <p>
        I graduated from
        <a href="#about__major"
        ><span>Department of English Language and Literature</span></a
        >
    </p>
    <p>
        I finally <a href="#about__graduate"><span>graduated</span></a> this
        year. 🥳
    </p>
    <p>
        And now I start studying again to become a
        <a href="#about__wecode"><span>developer</span></a
        >.
    </p>
    </div>
    <img class="home__picture" src="img/memoji.png" alt="my-picture" />
    <div class="home__text kor">
    <img class="click-me-kor" src="./imgs/clickme-kor.png" alt="click me" />
    <p>
        안녕하세요! 저는 <a href="#me"><span>Koiil</span></a
        >이에요
    </p>
    <p>
        2021년, 저는 <a href="#about__age"><span>25살</span></a> 이에요!
    </p>
    <p>
        <a href="#about__traveling"><span>여행</span></a
        >다니기, <a href="#about__concert"><span>공연</span></a
        >보러가기를 정말 좋아해요!
    </p>
    <p>
        저는 <a href="#about__major"><span>영어영문</span></a
        >을 공부했고
    </p>
    <p>
        작년에 <a href="#about__graduate"><span>졸업</span></a
        >을 했답니다 🥳
    </p>
    <p>
        그리고 이제 <a href="#about__wecode"><span>개발자</span></a
        >가 되기 위해 다시 공부를 시작해요
    </p>
    </div>
</section>
<section class="about">
    <div id="about__age" class="about__age">
    <img src="./imgs/birthday.png" alt="27years old" />
    <img src="./imgs/birthday2.png" alt="27years old" />
    </div>
    <div id="about__traveling" class="about__traveling">
    <img src="./imgs/travel01.png" alt="picture of hollywood" />
    <img src="./imgs/travel02.png" alt="picture of surfy beach" />
    <img src="./imgs/travel03.png" alt="picture of white sand dunes" />
    </div>
    <div id="about__concert" class="about__concert">
    <img src="./imgs/concert01.GIF" alt="concert" />
    <img src="./imgs/concert02.GIF" alt="concert" />
    <img src="./imgs/concert03.GIF" alt="concert" />
    </div>
    <div id="about__major" class="about__major">
    <img src="./imgs/major.png" alt="major" />
    </div>
    <div id="about__graduate" class="about__graduate">
    <img src="./imgs/graduate01.GIF" alt="graduation" />
    <img src="./imgs/graduate02.GIF" alt="graduation" />
    </div>
    <div id="about__wecode" class="about__wecode">
    <img src="./imgs/wecode.png" alt="graduation" />
    </div>
</section>
<footer>
    <ul>
    <li><p>copyright ⓒ 2021 All rights reserved by koiil.</p></li>
    <li>
        <a href="mailto:j26597719@naver.com" target="_top">
        📧 Mail me : j26597719@naver.com</a>
    </li>
    </ul>
</footer>
</body>
</html>
